body{
    background-color: crimson;
}

h1{
    text-decoration: overline underline;
}
.titulo-centralizado{
    text-align: center;
}
p{
    color: crimson;
}

.div-center {
    display: grid;
    background-color: whitesmoke;
    place-items: center; /* alinha horizontalmente e verticalmente */
    height: 90vh; /* 90% da altura total da viewport */
    width: 90vw; /* 90% da largura total da viewport */
  }