body{
    background-color: crimson;
}

header{
    background-color: whitesmoke;
    height: 5vh; /* 5% da altura total da viewport */
    width: 100vw; /* 100% da largura total da viewport */
}
footer{
    background-color: whitesmoke;
    height: 5vh; /* 5% da altura total da viewport */
    width: 100vw; /* 100% da largura total da viewport */
}

h1{
    text-decoration: overline underline;
    font-size: 10vh;
}

h2{
    text-decoration: underline;
}

.titulo-centralizado{
    text-align: center;
}

p{
    color: crimson;
}

.div-center {
    display: flex;
    flex-direction: column; /* itens exibidos em uma coluna */
    justify-content: center; /* alinha verticalmente */
    align-items: center; /* alinha horizontalmente */
    background-color: whitesmoke;
    height: 90vh; /* 90% da altura total da viewport */
    width: 90vw; /* 90% da largura total da viewport */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  